header {
  display:flex;
  justify-content: center;
  align-items: center;
  max-height: auto;
  max-width: 100%;
background-color: rgba(10, 10, 10, 0.897);
  width: auto;
  height: 15%;
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
  padding-top: 2%;
  }

.imgbb{
  max-height: auto;
  max-width: 100%;
  }

body {
  background-image: url(https://2.bp.blogspot.com/-0D87fB1cAPA/Wry2n3j263I/AAAAAAAAEDw/dGW9IFsmt0E9LKR1voZxM5CyCY4bqvd5gCLcBGAs/s1600/breaking3.jpg);
  /*background-color: #095329;*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  }

nav {
  box-sizing:border-box;
  padding-top: 3%;
  padding-bottom: 2%;
  background-color: rgba(10, 10, 10, 0.897);
  color: rgb(248, 245, 245);
  display: flex;
  justify-content: center;
  border-bottom-right-radius: 3em;
  border-bottom-left-radius: 3em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.buscador{
  border-radius: 3em;
  background-color: yellow;
  font-size: larger;*/
  border-radius: 25px;
  cursor: pointer;
  background-color:#faf601dc;
  font-size: large;
  color: rgb(17, 16, 16);
  box-shadow: 0 0 40px rgb(5, 255, 38);
  }

select{
  border-radius: 3em;
  cursor: pointer;
  background-color:#faf601dc;
  font-size: large;
  color: rgb(17, 16, 16);
  box-shadow: 0 0 40px rgb(5, 255, 38);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  }

.select:active{
  border-radius: 3em;
  cursor: pointer;
  background-color:#faf601dc;
  font-size: large;
  color: rgb(17, 16, 16);
  box-shadow: 0 0 40px rgb(5, 255, 38);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

label {
  font-size:x-large;
  font-weight: bolder;
  color: rgb(248, 245, 245);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  }


p{
  text-align: center;
  font-size:large;
  margin-top: 4%;
}

.cartasPersonajes { 
  display:grid;
  grid-template-columns: repeat(6, 9.3fr );
  grid-gap: 1rem;
  justify-content: center;
  text-align: center;
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  padding: 5%;
    }

  @media (max-width: 800px) {
    .cartasPersonajes {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    text-align: center;
    grid-gap: 2rem;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    padding: 5%;
    font-size: 1.5rem;}
    }
  
.personajes-tarjeta {
  margin: 8%;
  background-color: #0bac25;
  border-radius: 2em; 
  height: auto; 
  width: auto;  
box-shadow: 0 0 40px rgb(5, 255, 38);
  color: black;
  font-weight:900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  }

.personajes-tarjeta img {
  max-width: 70%;
  max-height: 60%;
  padding-top: 5%;
  justify-content: center;
  border-radius: 25%;
  }

  @media (max-width: 800px) {
    .personajes-tarjeta img {
    max-width: 80%;
    max-height: 50%;}
    }

.recuadroPersonajes{
  position: fixed;
  top: 0%;
  left:0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s ease;
  }

.divInfoPersonaje {
  background-color: yellow;
  max-width: 80%;
  padding: 4%;
  border-radius: 3em;
  text-align: center; 
  box-shadow: 0 0 40px rgb(252, 255, 79);     
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';           
  }

  @media (max-width: 800px) {
    .divInfoPersonaje {
    font-size: 1.5rem;}
    }

.recuadroPersonajes.claseInfoPersonaje{
  visibility: visible;
  opacity: 1;
  }

.promedioLista{
  color: black;
  padding: 4%;
  background-color: #0bac25;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 0 40px rgb(252, 255, 79); 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

#promedioboton {
  margin-left: 40%;
  color: black;
  font-size: large;
  cursor: pointer;
  background-color: rgb(5, 255, 38);
  border-radius: 3em;
  box-shadow: 0 0 40px #faf601dc;  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

#promedioboton:active {
  justify-content: center;
  background-color:#faf601dc;
  transform:translateY(4px);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}
