body {
    background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fcdn.wallpapersafari.com%2F71%2F68%2FNeLSIy.jpg);
   
}
header {
    display: flex;
    justify-content: center;
padding: 50px;
    height: 100vh;
}

html{

}





<img 
      src = "https://www.pinterest.es/pin/479492691556920922/?amp_client_id=CLIENT_ID%28_%29&mweb_unauth_id=&amp_url=https%3A%2F%2Fwww.pinterest.es%2Famp%2Fpin%2F479492691556920922%2F&from_amp_pin_page=true"
      class="illustration"
      width="400"
      height="200"
      
    />