header {
  display:flex;
  justify-content: center;
  align-items: center;
  max-height: auto;
  max-width: 100%;
  }

.imgbb{
  max-height: auto;
  max-width: 100%;
  }

body {
  background-image: url(https://2.bp.blogspot.com/-0D87fB1cAPA/Wry2n3j263I/AAAAAAAAEDw/dGW9IFsmt0E9LKR1voZxM5CyCY4bqvd5gCLcBGAs/s1600/breaking3.jpg);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  }

nav {
  box-sizing:border-box;
  padding: 30px;
  background-color: #88a8a683;
  color: rgb(30, 29, 29);
  display: flex;
  justify-content: center;
  margin-top: 2%; 
  }

.buscador{
  border-radius: 25px;
  background-color: yellow;
  font-size: larger;
  }

select{
  border-radius: 25px;
  cursor: pointer;
  background-color:rgba(89, 219, 89, 0.854);
  font-size: large;
  box-shadow: 0 0 40px rgb(209, 232, 61);
  }

label {
  font-size:x-large;
  font-weight: bolder;
  }

.cartasPersonajes { /*revisar*/
  max-width: 1200px;
  display:grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
  grid-template-rows: repeat();
  grid-gap: 1rem;
  justify-content: center;
  text-align: center;
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  padding: 5%;
  }

  @media (max-width: 800px) {
    .cartasPersonajes {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    text-align: center;
    grid-gap: 2rem;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    padding: 5%;
    font-size: 1.5rem;}
    }
  
.personajes-tarjeta {
  margin: 10px;
  background-color: rgb(1, 170, 1);
  border-radius: 25px; 
  height: auto; 
  width: auto;  
  }

.personajes-tarjeta img {
  max-width: 100px;
  max-height: 100px;
  padding-top: 5%;
  justify-content: center;
  border-radius: 25%;
  }

  @media (max-width: 800px) {
    .personajes-tarjeta img {
    max-width: 80%;
    max-height: 50%;}
    }

.recuadroPersonajes{
  position: fixed;
  top: 0%;
  left:0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s ease;
  }

.divInfoPersonaje {
  background-color: yellow;
  padding: 20px;
  max-width: 80%;
  padding: 4%;
  border-radius: 3em;
  text-align: center; 
  box-shadow: 0 0 40px rgb(252, 255, 79);     
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';    
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;          
  }

  @media (max-width: 800px) {
    .divInfoPersonaje {
    font-size: 1.5rem;}
    }

.recuadroPersonajes.claseInfoPersonaje{
  visibility: visible;
  opacity: 1;
  }

.promedioLista{
  color: black;
  padding: 4%;
  background-color: #0bac25;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 0 40px rgb(252, 255, 79); 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

#promedioboton {
  margin-left: 40%;
  color: black;
  font-size: large;
  cursor: pointer;
  background-color: rgb(5, 255, 38);
  border-radius: 3em;
  box-shadow: 0 0 40px #faf601dc;  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

#promedioboton:active {
  justify-content: center;
  background-color:#faf601dc;
  transform:translateY(4px);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

